main > .float-start {
    box-shadow: 0.6rem 0.6rem 0.6rem gray;
}

.far-galaxy {
    font-size: 1.8em;
    letter-spacing: 0.1em;
    line-height: 1.5;
    text-align: justify;
}

.rounded-bottom-left {
    border-bottom-left-radius: 2rem;
}

.rounded-bottom-right {
    border-bottom-right-radius: 2rem;
}



/* Customizing */

.btn-danger {
    background-color: var(--bg-color-danger);
    color: var(--color-main);
}

.star-wars-container {
    position: relative;
    height: 800px;
    overflow: hidden;

    color: #ffe81f;
    font-family: "Poller One", sans-serif;
    perspective: 700px;
    background-image: url("./assets/sky.jpg");

}

.crawl {
    position: absolute;
    top: 100%;
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    transform-origin: 50% 100%;
    transform: rotateX(45deg) rotateY(-180deg);
    animation: crawl 40s linear infinite;
}

.crawl p {
    font-size: 22px;
    line-height: 1.5;
    text-align: center;
    white-space: pre-line;
}

.fade {
    position: absolute;
    top: 0;
    width: 100%;
    height: 40%;
    background-image: linear-gradient(0deg, transparent, black 75%);
    z-index: 10;
}

@keyframes crawl {
    0% {
        top: 100%;
        transform: rotateX(20deg) translateZ(0);
    }
    100% {
        top: -300%;
        transform: rotateX(25deg) translateZ(-300px);
    }
}

